*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Rubik', sans-serif;
;
}

.contenedor{
/* padding: 60px 0; */
width: 90%;
/* max-width: 1000px; */
margin: auto;
overflow: hidden;
}

/* .titulo{
color: #fff;
font-size: 30px;
text-align: center;
margin-bottom: 60px;
} */
				/* header */
				header{
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					display: flex;
					justify-content: space-around;
					transition: 0.7s;
					padding: 30px 20px;
					z-index: 10;
				}
				header.abajo{
					background: #fff;
					padding: 15px 20px;
				}
				header .logo{
					position: relative;
					color: #fff;
					font-weight: bold;
					font-size: 2em;
					letter-spacing: 2px;
					transition: 1.5s;
					text-decoration: none;
				}
				nav{
					display: flex;
					justify-content: center;
					align-items: center;
				}
		
				header ul{
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
				}
		
				header ul li{
					list-style: none;
				}
		
				header ul li a{
					position: relative;
					font-family: helvetica;
					margin: 0 15px;
					text-decoration: none;
					color: #fff;
					letter-spacing: 2px;
					font-weight: 600;
					transition: 0.7s;
				}
				header.abajo .logo,
				header.abajo ul li a{
					color:#192d6c;
					}
		/* Pelicula Principal */
		.pelicula_principal {
			font-size: 20px;
			min-height: 40.26em;
			color: #fff;
			background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5) 100%),
			  url(../img-index/hero.jpg);
			background-position: center center;
			background-size: cover;
			margin-bottom: 3.12em;
			display: flex;
			align-items: end;
		  }
		  .pelicula_principal .contenedor {
			margin: 0 auto;
			margin-bottom: 4.25em;
		  }
		  .pelicula_principal .titulo {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 2em;
			margin-bottom: 0.4em;
		  }
		  .pelicula_principal .descripcion {
			font-weight: normal;
			background-position: left;
			font-size: 1em;
			line-height: 1.75em;
			max-width: 70%;
			margin-bottom: 1.25em;
		  }
		  .pelicula_principal .boton {
			background: rgba(0, 0, 0, 0.5);
			border: none;
			border-radius: 0.31em;
			padding: 0.93em 1.87em;
			color: #fff;
			margin-right: 1.25em;
			cursor: pointer;
			transition: 0.3s ease all;
			font-size: 1.12em;
		  }
		  .pelicula_principal .boton:hover {
			background: #fff;
			color: #000;
		  }
		  .pelicula_principal .boton i {
			margin-right: 1.25em;
		  }
		
		/* PELICULAS*/

		h4, h2,small,a{
				margin: 0;
				padding: 0;
		}
		a{
				text-decoration: none;
		}
		.Carousel{
				width: 40%;
				margin: 50px 80px;
		}
		.Carousel h2{
			color: white;
				font-size: 26px;
				line-height: 38px;
				padding-bottom: 24px;
				opacity: .9;
				text-transform: uppercase;
				letter-spacing: 7px;
				text-align: left;
		}
		
		/* IMAGENES */
		
		.slick-list{
				position: relative;
				display: flex;
				align-items: center;
				width: fit-content;
				height: 304px;
				padding: 10px 0px;
				margin: 0px auto;
				max-width: 90vw;
				overflow: hidden;
		}
		.slick-track{
			position: relative;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			transition: .5s ease-in-out;
		}
		.slick{
				position: relative;
				width: 275px;
				padding: 0 18px;
				float: left;
				box-sizing: border-box;
				display: flex;
				height: 100%;
		}
		.slick h4{
				position: absolute;
				z-index: 1;
				font-size: 22px;
				line-height: 120px;
				color: #fff;
				padding: 65px;
		}
		.slick h4 small{
				font-size: 15px;
				display: block;
		}
		.slick a img{
				object-fit: cover;
				height: 300px;
				width: 100%;
				border-radius: 4px;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
				transition: .3s ease-in-out;
		}
		.slick a img:hover{
				opacity: .85;
		}
		
		/* buttons */
		
		.slick-arrow{
				border-radius: 30px;
				background-color: #fff;
				position: absolute;
				z-index: 4;
				width: 48px;
				height: 48px;
				text-align: center;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
				border: 0;
				cursor: pointer;
		}
		.slick-arrow:focus{
				outline: 0;
		}
		.slick-arrow svg{
				width: 12px;
				height: 100%;
				color: rgba(0,0,0,.7);
		}
		.slick-prev{
				left: 0px;
		}
		.slick-next{
				right: 0px;
		}
/* FOOTER */
footer{
	width: 100%;
	padding: 50px 0px;
	background-size: cover;
}

.container__footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
}

.box__footer{
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.box__footer .logo img{
	width: 200px;
}

.box__footer .terms{
	max-width: 350px;
	margin-top: 20px;
	font-weight: 500;
	color: #bebebe;
	font-size: 18px;
}

.box__footer h2{
	margin-bottom: 30px;
	color: #e0e0e0;
	font-weight: 700;
}

.box__footer a{
	margin-top: 10px;
	color: #979797;
	font-weight: 600;
}

.box__footer a:hover{
	opacity: 0.8;
}

.box__footer a .fab{
	font-size: 20px;
}

.box__copyright{
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
}

.box__copyright p{
	margin-top: 20px;
	color: #7a7a7a;
}

.box__copyright hr{
	border: none;
	height: 1px;
	background-color: #7a7a7a;
}
